/* Mobile */
@media (max-width: 1199px) {
    #entire-wrap {
        display: none;
    }

    body {
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    }
    #restricted-page {
        display: block !important;
    }

    #restricted-text-wrap h3 {
        font-size: 5rem;
        padding: 5rem 20rem;
    }

    #restricted-content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #restricted-content-wrap img {
        width: 50rem;
        padding: 5rem 0;
    }
}

/* Mobile (horizontal) & Small tablets */
/* @media (min-width: 576px) and (max-width: 767px) {
} */

/* Tablet */
/* @media (min-width: 768px) and (max-width: 1023px) {
} */

/* Laptop */
/* @media (min-width: 1024px) and (max-width: 1199px) {
} */
